<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What Does The Fox Say?</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
        <img src="https://i.ytimg.com/vi/LlctssUjF78/maxresdefault.jpg" alt="">
    <div class="container">
        <ul class="quotes">
            <%for(var i=0; i<quotes.length; i++) {%>
            <li class="quote"><span><%= quotes[i].name %></span> goes, <span class='quotetext'>"<%= quotes[i].quote %>"</span></li>
            <%} %>
        </ul>

        <div class="cf">
            <span class="addtext">Add an Animal!</span class="addtext">
            <form action="/quotes" method="post">
                <input name="name" class="nameinput" placeholder="name" type="text"> <input name="quote" placeholder="sound" type="text"> 
                <button type="submit" class="btn" id="create">Create</button>
                <button class="btn" id="update">Update the fox</button> 
                <button class="btn" id="delete">Delete the fox</button> 
            </form>
            
        </div>

        <iframe src="https://open.spotify.com/embed/track/5HOpkTTVcmZHnthgyxrIL8" width="700" height="100" frameborder="0" allowtransparency="true" style="padding: 40px 0 0;"></iframe>

    </div>
    <script src="main.js"></script>
</body>
</html>