.container {
    margin: 0 auto;
    width: 700px;
    font-family: Arial;
    background: #B58654;
    padding: 20px;
}
img {
    display: block;
    margin: 0 auto;
    width: 740px;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
    clear: both;
}

.cf {
    *zoom: 1;
}

input {
    padding: 4px 2px;
}

.addtext {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    display: block;
    padding: 0 0 10px;
}

input {
    padding: 7px;
}

ul {
    color: #fff;
    list-style-type: circle;
}

li {
    padding: 0 0 5px;
}

.quotetext {
    color: #FBD9FC;
}

.btn{
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 11px;
    border: none;
    .border-radius(2px);
    .transition(color .2s linear, background-color .2s linear);
    color: #fff;
    background: magenta;
    border: 1px solid white;
}
.btn:hover {
    color: magenta;
    background: #fff;
    border: 1px solid magenta;
}
.nameinput {
    width: 110px;
}